<!DOCTYPE html>
<html>
<head>
	<title>Redirect url in Javascript</title>
</head>
<body>
<form action="/index" method="post">
	{% csrf_token %}
<input id = "url" type = "text" name = "url"
						placeholder = "Enter a url here">
<input type = "submit" name = "button" value="submit">
</form>
	<!--onclick = "fun()"-->
<!--<script>-->
<!--// function fun() {-->
<!--// 	var url= document.getElementById("url").value;-->
<!--// 	 // var myNewUrl = ;-->
<!--// 	 document.write("Redirecting to the url in 3 seconds...");-->
<!--// 	 setTimeout(function(){window.open(url,'_blank') ;}, 3000);-->
<!--// 	//console.log(url);-->
<!--// }-->
<!--</script>-->
</body>
</html>